<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Usuarios</h3>
        <button id="show-modal" type="button"
            class="btn btn-primary">
            <i class="fas fa-plus-circle mr-2" aria-hidden="true"></i> Nuevo Usuario
        </button>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-color">
                <tr>
                    <th scope="col">CÓDIGO</th>
                    <th scope="col">AP. PATERNO</th>
                    <th scope="col">AP. MATERNO</th>
                    <th scope="col">NOMBRES</th>
                    <th scope="col">DNI</th>
                    <th scope="col">ROL</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Torres</td>
                    <td>Moran</td>
                    <td>Jaime</td>
                    <td>85697412</td>
                    <td>Vendedor</td>
                    <td>
                        <button 
                            class="btn btn-success mr-2"><i class="far fa-edit" aria-hidden="true"></i></button>
                        <button  type="button"
                             class="btn btn-danger "><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                      </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Avila</td>
                    <td>Diaz</td>
                    <td>Pedro</td>
                    <td>62497412</td>
                    <td>Vendedor</td>
                    <td>
                        <button 
                            class="btn btn-success mr-2"><i class="far fa-edit" aria-hidden="true"></i></button>
                        <button  type="button"
                             class="btn btn-danger "><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                      </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vargas</td>
                    <td>Rivero</td>
                    <td>Ana</td>
                    <td>74597412</td>
                    <td>Administrador</td>
                    <td>
                        <button 
                            class="btn btn-success mr-2"><i class="far fa-edit" aria-hidden="true"></i></button>
                        <button  type="button"
                             class="btn btn-danger "><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.card -->
