<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Enfermedades</h3>
        <button id="show-modal" type="button"
            class="btn btn-primary">
            <i class="fas fa-plus-circle mr-2" aria-hidden="true"></i> Nueva Enfermedad
        </button>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-color">
                <tr>
                    <th scope="col">CÓDIGO</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">DESCRIPCIÓN</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Gastritis</td>
                    <td>Consiste en la inflamación del revestimiento del estomago </td>
                    <td>
                        <button 
                            class="btn btn-success mr-2"><i class="far fa-edit" aria-hidden="true"></i></button>
                        <button  type="button"
                             class="btn btn-danger "><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Reumatismo</td>
                    <td>Enfermedades que afectan a las articulaciones y producen hinchazón </td>
                    <td>
                        <button 
                            class="btn btn-success mr-2"><i class="far fa-edit" aria-hidden="true"></i></button>
                        <button  type="button"
                             class="btn btn-danger "><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Higado Graso</td>
                    <td>Afección en la que se acumula grasa en el hígado</td>
                    <td>
                        <button 
                            class="btn btn-success mr-2"><i class="far fa-edit" aria-hidden="true"></i></button>
                        <button  type="button"
                             class="btn btn-danger "><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.card -->
