.sidebar a{
    color: #fff;
}

.sidebar-dark-primary{
    background: linear-gradient(to right, #52c234, #061700);
}
.brand-link{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.user-panel{
    border-bottom: 1px solid #fff;
}
.text-sana{
    color: #f75f1d;
    font-weight: bold !important;
}
.logo-natural{
    color: #52c234;
    font-weight: bold;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #f75f1d;
}

.nav-sidebar>.nav-item.menu-open>.nav-link, 
.nav-sidebar>.nav-item:hover>.nav-link, 
.nav-sidebar>.nav-item>.nav-link:focus{
    background-color: #f75f1d;
}