<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <p class="brand-text font-weight-light text-sana">Sana<span class="logo-natural">Natural</span></p>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/productos" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-tag"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/categorias" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-hashtag"></i>
                        <p>
                            Categorias
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/enfermedades" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-bug"></i>
                        <p>
                            Enfermedades
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tipos-entregas" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-people-arrows"></i>
                        <p>
                            Tipo de entrega
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/clientes" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-user"></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/ventas" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-money-bill"></i>
                        <p>
                            Ventas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/usuarios" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-info"></i>
                        <p>
                            Infomación
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>